In [667]:
import pandas as pd
import requests
import re
import numpy as np
from sklearn.model_selection import KFold
from xgboost import XGBRegressor
import scipy
from sklearn.metrics import confusion_matrix

In [1]:
path = '/Users/nis89mad/data/ML2_Final/'

In [628]:
# get streets of interest
train = pd.read_csv(path+'train-parking.csv')

In [629]:
# lets only get the street and blocks of interest
# we are going to assume to and from doesnt mae a difference and we will focus on for eahc block

train['S_F'] = train['Street']+' @ '+ train['From']
train['S_T'] = train['Street']+' @ '+ train['To']

Creating data set with lat lng for intersections

In [307]:
intersections  = train.groupby(['S_F', 'S_T']).size().reset_index()[['S_F','S_T']]

In [308]:
intersections.head()

                                   S_F                            S_T
0        23rd Street @ Bartlett Street  23rd Street @ Valencia Street
1         23rd Street @ Mission Street  23rd Street @ Bartlett Street
2         23rd Street @ Mission Street      23rd Street @ Capp Street
3  23rd Street @ South Van Ness Avenue      23rd Street @ Capp Street
4   Battery Street @ California Street   Battery Street @ Pine Street

In [309]:
api_key = 'AIzaSyBt1ocpxQBVI_Y75aG22_HVgJkIpZl6h8s'

In [373]:
# get lat and lng of an intersection
def get_lat_long(address):
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(address)
    geocode_url = geocode_url + "&key={}".format(google_api_key)
    results = requests.get(geocode_url)
    results = results.json()
    return {'lat':results['results'][0]['geometry']['location']['lat'], 
            'lng':results['results'][0]['geometry']['location']['lng']}

In [311]:
# get the short address name of location when lat and lng is given
def get_block(lat_m, lng_m):
    latlng = str(lat_m)+','+str(lng_m)
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?latlng={}".format(latlng)
    geocode_url = geocode_url + "&key={}".format(api_key) 
    results = requests.get(geocode_url)
    results = results.json()
    return results['results'][0]['address_components'][0]['short_name']

In [312]:
# given two intersections of the street, we find the mid point of the street based 
# on lat and lng. Then use that to find the block id of the street
def get_blockid(intxn):
    intxns = intxn.split('|')
    
    from_c = get_lat_long(intxns[0])
    to_c = get_lat_long(intxns[1])
    
    lat_m, lng_m = ((to_c[0]+from_c[0])/2, (to_c[1]+from_c[1])/2)
    r = get_block(lat_m, lng_m)
    r = re.sub('-.*$', "", r)
    
    return {'from_int_lat':from_c[0], 'from_int_lng':from_c[1], 'to_int_lat':to_c[0], 
            'to_int_lng':to_c[1], 'block_id': re.sub('[aA-zZ]*', "", r)[:-2]}

In [313]:
intersections['intxn'] = intersections['S_F']+', San Francisco|'+intersections['S_T']+',San Francisco'
intersections = intersections.merge(intersections.intxn.apply(lambda ixn: pd.Series(get_blockid(ixn))), 
                                    left_index=True, right_index=True)
intersections.head()

,S_F,S_T,intxn,block_id,from_int_lat,from_int_lng,to_int_lat,to_int_lng
0,23rd Street @ Bartlett Street,23rd Street @ Valencia Street,"23rd Street @ Bartlett Street, San Francisco|2...",33,37.753779,-122.419729,37.753707,-122.420836
1,23rd Street @ Mission Street,23rd Street @ Bartlett Street,"23rd Street @ Mission Street, San Francisco|23...",33,37.753845,-122.418619,37.753779,-122.419729
2,23rd Street @ Mission Street,23rd Street @ Capp Street,"23rd Street @ Mission Street, San Francisco|23...",32,37.753845,-122.418619,37.753912,-122.417529
3,23rd Street @ South Van Ness Avenue,23rd Street @ Capp Street,"23rd Street @ South Van Ness Avenue, San Franc...",32,37.753976,-122.416441,37.753912,-122.417529
4,Battery Street @ California Street,Battery Street @ Pine Street,"Battery Street @ California Street, San Franci...",1,37.793224,-122.399989,37.792263,-122.399797

In [316]:
#empty block_ids represnt block 0
intersections.block_id[intersections.block_id ==""] = 0

/Users/nis89mad/anaconda3/envs/python3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [321]:
intersections.S_F = intersections.S_F.astype(str)
intersections.S_T = intersections.S_T.astype(str)
intersections.intxn = intersections.intxn.astype(str)
intersections.block_id = intersections.block_id.astype(int)
intersections.to_feather('intersections')