In [1]:
import json
import ast
import re
import numpy as np
import pandas as pd

In [2]:
with open('../Data/Resume_cleaned/data_extraction.json') as f:
    resume_cleaned = f.readlines()

In [3]:
for i in range(len(resume_cleaned)):
    resume_cleaned[i] = resume_cleaned[i].strip()
    resume_cleaned[i] = ast.literal_eval(resume_cleaned[i])

In [4]:
len(resume_cleaned)

12049

In [5]:
resume_cleaned[107]

{'Education': {'degree1': {'course': 'Bachelor of Architectre in Architectre',
   'year': 'January 2007'},
  'degree2': {'course': 'Associate of Science', 'year': 'January 2001'},
  'degree3': {'course': '', 'year': 'Year not found'}},
 'Experience': {'job1': {'designation': 'junior architect',
   'year': 'february 2017 to may 2017'},
  'job2': {'designation': 'assistant architect',
   'year': 'june 2007 to march 2009'},
  'job3': {'designation': 'chaney architects - pune',
   'year': 'june 2007 to march 2009'},
  'job4': {'designation': 'junior architect', 'year': 'july 2006 to may 2007'},
  'job5': {'designation': 'prashant deshmukh & associates - pune',
   'year': 'july 2006 to may 2007'},
  'job6': {'designation': 'trainee architect',
   'year': 'june 2005 to november 2005'},
  'job7': {'designation': 'i.m. kadri architects - mumbai',
   'year': 'june 2005 to november 2005'}},
 'Job_Title': 'architect',
 'userID': 'architect_107'}

In [6]:
resume_cleaned[908]

{'Education': {'degree1': {'course': 'Diploma in Bsiness Commnication',
   'year': 'September 1972 to May 1974'},
  'degree2': {'course': 'in Basic Corses', 'year': 'April 1991]'}},
 'Experience': {'job1': {'designation': 'auditor',
   'year': 'july 2016 to present'}},
 'Job_Title': 'auditor',
 'userID': 'auditor_375'}

In [7]:
resume_cleaned[1000]

{'Education': {'degree1': {'course': ('High school or eqivalent',),
   'year': 'Year not found'}},
 'Experience': {'job1': {'designation': 'night auditor',
   'year': 'Year_Not_Found'}},
 'Job_Title': 'auditor',
 'userID': 'auditor_467'}

In [8]:
len(resume_cleaned)

12049

In [22]:
title_map = {
    u'amin and shah associates - ahmedabad': '',
 u'software engineer & architect' : 'software engineer',
 u'data science' : 'data science',
 u'u"financial analyst' : 'financial analyst',
 u'u"vp of marketing & business development': 'vp marketing',
 u'engineering': 'engineer',
 u'engineering manager': 'engineer manager',
 u'in advertising' : 'advertising',
 u'sales associate' : 'sales',
 u'lead technical / business strategist / dmts' : 'business analyst',
 u'strategy director / dmts' : 'business analyst',
 u'product architects' : 'product architect',
 u'PharmD' : 'doctor',
 u'microprocessor engineer - team lead' : 'engineer',
 u'B.S. in Electrical & Electronics' : 'Bachelor of Science in Electrical & Electronics',
 u'recruiter' : 'recruiter',
 u'director of facilities & plant operations' : 'director of operations',
 u'M.S. in Statistics' : 'Master of Science in Data science',
 u'B.S. in Mechanical Engineering in With a focs in Mechatronics' : 'Bachelor of Science in Mechanical Engineering',
 u'junior architect' : 'architect',
 u'staff it auditor' : 'auditor',
 u'bachelor of arts in economics' : 'bachelor of arts',
 u'design and marketing director' : 'marketing director',
 u'it auditor': 'auditor',
 u'"Bachelors in Healthcare Management/Administration"' : 'Bachelors in Administration',
 u'thousands of data analysts' : 'data science',
 u'business analyst': 'business analyst',
 u'and backend engineers' : 'software engineer',
 u'u"recruiter' : 'recuiter',
 u'bachelor of science in medical technology' : 'bachelor of science in medicine',
 u'associate' : 'associate',
 u'vp of operations' : 'vp of operations',
 u'degree_2 :' : '',
 u'diploma' : '',
 u'software engineer' : 'software engineer',
 u'u"sales associate' : 'sales',
 u'bachelor of science in mechanical engineering' : 'bachelor of science in mechanical engineering',
 u'high school or eqivalent' : '',
 u'managed and developed junior analyst' : 'data science',
 u'supervise recruiter' : 'recruiter',
 u'degree_1 :' : '',
 u'engineers' : 'engineer',
 u'b.s in fashion design' : 'bachelor of science in fashion',
 u'product and engineering teams' : 'engineer',
 u'u"senior systems engineer' : 'software engineer',
 u'senior revenue analyst' : 'business analyst',
 u'lead technical / business strategist/ dmts':'business analyst',
 u'mechanical design engineer':'engineer',
 u'"bachelors"' : 'bachelor of science in mechanical engineering',
 u'b.s. in electrical engineering' : 'bachelor of science in electrical engineering',
 u'"Masters in Compter Science"' : 'master of science in computer science',
 u'u"decision scientist' : 'business analyst',
 u'Bachelor of Engineering in Engineering' : 'bachelor of science in electrical engineering',
 u'High School' : '',
 u'Bachelors of Science in Hman Resorce Management' :'Bachelors in Administration',
 u'director of engineering & facilities' : 'director of engineering',
 u'human resource director' : 'recuiter',
 u'architect / lead systems engineer' : 'software engineer',
 u'BS in Bsiness Administration' : 'Bachelors in Administration',
 u'u"customer system engineer / advocate' : 'software engineer',
 u'"Bachelors in Bsiness Management"': 'Bachelors in Administration'
}

In [9]:
resume_new = []
for r in resume_cleaned:
    try:
        if len(r['Experience']) == 0: # no experince data
            continue
    except KeyError:
        continue
        
    try:
        if len(r['Education']) == 0: # no education data
            continue
    except KeyError:
        continue
    
    r_dict = {}
    r_dict['Job_Title'] = r['Job_Title']
    r_dict['userID'] = r['userID']
    
    
    education = []
    dup_ey = 0  # find out duplicated education year
    e = len(r['Education']) # number of education qualitifications
    for ei in range(1, e+1):
        degree = 'degree'+str(ei)
        
        try:
            ey = r['Education'][degree]['year']
        except KeyError:  # no year
            continue
        
        y = re.findall(' [0-9]{4}', ey)
        if len(y) == 0:  # no education year
            continue
        elif dup_ey == y[-1]:  # year is duplcated
            continue
        else:
            dup_ey = y[-1]
            education.append((y[-1], r['Education'][degree]['course'].lower().replace(key, title_map[key].lower()))) # get the end year of degree
    r_dict['education'] = education
    
    
    experience = []
    dup_xy = 0  # find out duplicated experince year
    x = len(r['Experience']) # number of experiences
    for xi in range(1, x+1):
        job = 'job'+str(xi)
        
        try:
            xy = r['Experience'][job]['year']
        except KeyError:  # no year
            continue

        y = re.findall(' [0-9]{4}', xy)
        if len(y) == 0: # no experience years
            continue
        elif dup_xy == y[0]:  # year duplicated
            continue
        else:
            dup_xy = y[0]
            experience.append((y[0], r['Experience'][job]['designation'].lower().replace(key, title_map[key].lower())))  # get the job start  year
    r_dict['experience'] = experience
    
    resume_new.append(r_dict)

In [10]:
# Also remove profiles where education OR experince is empty
len(resume_new)

10125

In [11]:
resume_new[458]

{'Job_Title': 'architect',
 'education': [],
 'experience': [(' 2012', 'junior architect'),
  (' 2008', 'project architect'),
  (' 2009', 'architect')],
 'userID': 'architect_458'}

In [12]:
profiles = []
for r in resume_new:
    if len(r['education']) == 0:
        continue
    elif len(r['experience']) == 0:
        continue
    else:
        profiles.append(r)

In [13]:
len(profiles)

5623

In [14]:
titles = [p['Job_Title'] for p in profiles]

In [15]:
len(np.unique(titles))

23

In [16]:
profiles[67]

{'Job_Title': 'architect',
 'education': [(' 2009', 'Master of Science in Architectre in Architectre')],
 'experience': [(' 2012', 'architect'), (' 2010', 'architect')],
 'userID': 'architect_98'}

In [17]:
# convert year to intergers 
#  add everything in to a single list of tuples
profiles_new = []
for p in profiles:
    edu = []
    for ei in p['education']:
        edu.append((int(ei[0]), ei[1], 0)) # 0 indicator for education
    
    exp = []
    for xi in p['experience']:
        exp.append((int(xi[0]), xi[1], 1)) # 1 is indicator for experince
        
    events = edu+exp
    events = sorted(events, key = lambda x: (x[0], x[2]))
    
    profiles_new.append({'Job_Title':p['Job_Title'], 'userID': p['userID'], 
                         'events':events})

In [18]:
profiles_new[3540]

{'Job_Title': 'Operation Analyst.csv',
 'events': [(2009, 'BA in General English', 0),
  (2009, 'data analyst & operation assistant', 1),
  (2011, 'data analyst & wholesale manager assistant', 1),
  (2017, 'Certification in CIT - Database Certification', 0),
  (2017, 'data analyst', 1)],
 'userID': 'Operation Analyst.csv_323'}

In [19]:
len(profiles_new)

5623

In [20]:
profiles_new[0]

{'Job_Title': 'architect',
 'events': [(2010, 'Bachelor of Science in Architectre', 0),
  (2010, 'architect', 1)],
 'userID': 'architect_0'}

In [192]:
with open('../Data/Resume_cleaned/ordered_profiles', 'w') as f:
    for p in profiles_new:
        f.write(str(p)+'\n')